<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
    <link rel="stylesheet" href="../application.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>

        <div class="primary-content">
              <h2>This page is under development.</h2>
        </div><!-- End .primary-content-->

  </body>
</html>
