<<title>Create</title>
<div class = "primary-content result-display">
  <p>
    Access Code:
  </p>
  <%= @room.accessCode %>
  <br>
  <br>
  <p>
    Password:
  </p>
  <%= @room.password %>
  <br>
  <br>
  <a class="button medium-button" href="../home.html">Back To Home</a>
</div>
